* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --second-color: #171100;
}

html,
body {
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sen', sans-serif;
}


/* ========== Common ========== */

.main-content {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75;
    /* 175% */
    background: var(--second-color);
}

.btn:hover {
    background-color: var(--primary-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}


/* ========== Header ========== */

.header {
    background-color: #FFFCF4;
}

.fixed {
    padding-top: 20px;
    position: sticky;
    top: -20px;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
}

.navbar .logo {
    margin-right: auto;
}

.navbar ul {
    display: flex;
    margin-right: 70px;
}

.navbar ul a {
    position: relative;
    margin-left: 42px;
    color: #5F5B53;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 175% */
}

.navbar ul a:hover,
.navbar li.active a {
    color: var(--second-color);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    /* 175% */
}

.navbar li.active a::after {
    position: absolute;
    left: 0px;
    bottom: -3px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 1px;
    background: var(--second-color);
}

.navbar .btn-action {
    width: 144px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 24.5px;
    background: var(--second-color);
}

.navbar .btn {
    padding: 11px 41px;
    border-radius: 24.5px;
}


/* ========== Hero ========== */

.hero {
    background-color: #FFFCF4;
    padding-top: 48px;
    padding-bottom: 65px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}


/* Hero left */

.hero .media-block {
    position: relative;
    width: 48.7%;
}

.media-block .img-media {
    display: block;
    width: 470px;
    height: 685px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
}

.media-block .hero-summary {
    position: absolute;
    left: 300px;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.media-block .hero-summary .item {
    display: flex;
    align-items: center;
}

.media-block .hero-summary .item+.item {
    margin-top: 14px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-summary .item:nth-of-type(1) .icon {
    background-color: #FFF9E8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #FCEFFF;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #EBEAFF;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    /* 185.714% */
}

.hero-summary .info .title {
    color: var(--second-color);
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
    /* 166.667% */
}


/* Hero right */

.hero .content-block {
    width: 51.3%;
    padding: 64px 0px 63px 130px;
}

.content-block .heading {
    color: var(--second-color);
    font-family: Sen;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.25rem;
    /* 117.241% */
    letter-spacing: -0.0725rem;
}

.content-block .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    /* 166.667% */
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 32px 0px 48px;
}

.content-block .cta-group .btn {
    padding: 17px 34px;
    border-radius: 32px;
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: #FFFCF4;
}

.content-block .watch-video .icon {
    margin-right: 14px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.07);
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block .watch-video span {
    color: var(--second-color);
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
    /* 166.667% */
}

.content-block .stats {
    display: flex;
    gap: 1.75rem;
}

.content-block .stats strong {
    display: inline-block;
    margin-right: 0.5rem;
    color: #171100;
    font-family: Sen;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.375rem;
    /* 122.727% */
}


/* ========== Popular ========== */

.popular {
    margin: 200px 135px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Popular top */

.popular .popular-top .heading {
    color: #171100;
    font-family: Sen;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    /* 126.316% */
    letter-spacing: -0.0475rem;
}

.popular .popular-top .desc {
    display: block;
    /* width: 458px; */
    margin-top: 1rem;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    /* 166.667% */
}

.popular .popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular .popular-top .controls .controls-btn {
    color: var(--primary-color);
    border: 1px var(--primary-color) solid;
    background: transparent;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular .popular-top .controls .controls-btn:hover {
    color: #FFF;
    background: var(--primary-color);
}


/* Course list */

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    margin: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a {
    padding-right: 6px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
    /* 166.667% */
}

.popular .course-item .value {
    margin-left: 6px;
    color: #FEA31B;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 175% */
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    /* 185.714% */
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    color: #171100;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
    /* 166.667% */
}

.popular .course-item .btn {
    padding: 12px 24px;
    border-radius: 25px;
}


/* ========== Feedback ========== */

.feedback {
    padding: 96px 0px;
    background: #2E2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.feedback .feedback-item .info {
    width: 13.6%;
}

.feedback .feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 72px;
    object-fit: cover;
}

.feedback .feedback-item .info .name {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.125rem;
    /* 141.667% */
}

.feedback .feedback-item .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    /* 185.714% */
}

.feedback .feedback-item .info .dots {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback .feedback-item .info .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: default;
}

.feedback .feedback-item .info .dot.active {
    background-color: #FFB900;
}

.feedback .feedback-item .content {
    width: 66%;
}

.feedback .feedback-item blockquote {
    margin-left: 30px;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.625rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2.5rem;
    /* 153.846% */
}


/* ========== Features ========== */

.features {
    margin: 200px 0px;
}

.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .body .images {
    display: flex;
    position: relative;
    width: 48.7%;
    height: 440px;
    overflow: hidden;
}

.features .body .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .body .images img:first-of-type {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.features .body .images img:last-of-type {
    position: absolute;
    right: 0px;
    top: 0px;
}

.features .body .content {
    width: 40.2%;
}

.features .body .content .title {
    color: #171100;
    font-family: Sen;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    /* 126.316% */
    letter-spacing: -0.0475rem;
}

.features .body .content .desc {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 175% */
}

.features .body .content .desc {
    margin-top: 16px;
}

.features .body .content .btn {
    margin-top: 32px;
    padding: 11px 37px;
    border-radius: 26px;
}

.features-2nd .content {
    width: 48.7%;
}

.features-2nd img {
    width: 470px;
    height: 440px;
    border-radius: 16px;
    object-fit: cover;
}


/* ========== Blog ========== */

.blog {
    padding: 96px 0px;
    background: #FFFCF4;
}

.blog .heading {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    /* 126.316% */
    letter-spacing: -0.0475rem;
}

.blog .desc {
    width: 448px;
    margin: 16px auto;
    color: #696262;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 175% */
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog .item {
    flex-shrink: 0;
    width: calc((100% - 60px) / 3);
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    transition: all ease .3s;
    transform: translateX(-100%);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog .info {
    margin: 20px 20px 28px;
}

.blog .date {
    display: flex;
    align-items: center;
    position: relative;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    /* 185.714% */
}

.blog .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.blog .date::after {
    position: absolute;
    bottom: -12px;
    content: "";
    display: inline-block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}

.blog .title {
    margin-top: 25px;
    color: var(--second-color);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    /* 175% */
}

.blog .btn {
    margin-top: 12px;
    padding: 12px 21px;
    border-radius: 25px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625rem;
    /* 185.714% */
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.blog .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #5F5B53;
    border-radius: 50%;
    cursor: pointer;
}

.blog .dot.active {
    background-color: #FFB900;
    cursor: default;
}


/* ========== Footer ========== */

.footer {
    padding: 96px 0px 28px;
    background: #2E2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .logo {
    display: flex;
    align-items: center;
}

.footer .desc {
    margin-top: 18px;
    width: 267px;
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    /* 185.714% */
}

.footer .socials {
    display: flex;
    margin-top: 18px;
    gap: 18px;
}

.footer .heading {
    position: relative;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    /* 175% */
}

.footer .heading::before {
    content: "";
    position: absolute;
    bottom: -14px;
    display: inline-block;
    width: 130px;
    height: 1px;
    background: #59554B;
}

.footer .list li {
    margin-top: 12px;
}

.footer .list li a {
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    /* 185.714% */
}

.footer .list li:first-of-type {
    margin-top: 43px;
}

.footer strong {
    color: #FFF;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625rem;
    /* 185.714% */
}

.footer .copyright p {
    margin-top: 28px;
    color: #807D74;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    /* 185.714% */
}